In [1]:
# data normalisation with sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams ["figure.figsize"] = 10,6
import seaborn as sns
from scipy import stats
import math
import datetime
import urllib
import zipfile
import statsmodels.tsa.stattools as sts
from statsmodels.tsa.seasonal import seasonal_decompose
import plotly.express as px
import glob
ohe = OneHotEncoder
le = LabelEncoder()
from sklearn.compose import ColumnTransformer
le = LabelEncoder()

from sklearn.model_selection import train_test_split

from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression as LR

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import cohen_kappa_score

In [2]:
bike_station = pd.read_csv('stations.csv')

In [3]:
bike_station.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member
1,346,2011-01-01 00:02:46,2011-01-01 00:08:32,31105,14th & Harvard St NW,31101,14th & V St NW,W00675,Casual
2,562,2011-01-01 00:06:13,2011-01-01 00:15:36,31400,Georgia & New Hampshire Ave NW,31104,Adams Mill & Columbia Rd NW,W00357,Member
3,434,2011-01-01 00:09:21,2011-01-01 00:16:36,31111,10th & U St NW,31503,Florida Ave & R St NW,W00970,Member
4,233,2011-01-01 00:28:26,2011-01-01 00:32:19,31104,Adams Mill & Columbia Rd NW,31106,Calvert & Biltmore St NW,W00346,Casual

In [4]:
bike_station.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

In [5]:
bike_station["Start date"] = bike_station["Start date"].astype('datetime64[ns]')

In [6]:
bike_station["End date"] = bike_station["End date"].astype('datetime64[ns]')

In [7]:
#bike_station["Duration"] = bike_station["Duration"].astype('datetime64[ns]')

#duration is in seconds, need to change to minutes in the correct format.

In [8]:
minute_frame = (bike_station["Duration"]) / (60)
minute_frame

lst = []
for each in minute_frame:
    lst.append(str(each).split('.')[0])

final_minute = [int(i) for i in lst]

In [9]:
bike_station.dtypes

Duration                         int64
Start date              datetime64[ns]
End date                datetime64[ns]
Start station number             int64
Start station                   object
End station number               int64
End station                     object
Bike number                     object
Member type                     object
dtype: object

In [10]:
bike_station.loc[bike_station['Member type'] == "Casual", 'Member cat'] = "1"
bike_station.loc[bike_station['Member type'] == "Member", 'Member cat'] = "2"
bike_station.loc[bike_station['Member type'] == "Unknown", 'Member cat'] = "1"

In [11]:
bike_station.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Member cat
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member,2
1,346,2011-01-01 00:02:46,2011-01-01 00:08:32,31105,14th & Harvard St NW,31101,14th & V St NW,W00675,Casual,1
2,562,2011-01-01 00:06:13,2011-01-01 00:15:36,31400,Georgia & New Hampshire Ave NW,31104,Adams Mill & Columbia Rd NW,W00357,Member,2
3,434,2011-01-01 00:09:21,2011-01-01 00:16:36,31111,10th & U St NW,31503,Florida Ave & R St NW,W00970,Member,2
4,233,2011-01-01 00:28:26,2011-01-01 00:32:19,31104,Adams Mill & Columbia Rd NW,31106,Calvert & Biltmore St NW,W00346,Casual,1

In [12]:
bike_station["Member cat"].info

<bound method Series.info of 0          2
1          1
2          2
3          2
4          1
          ..
1226762    2
1226763    2
1226764    2
1226765    2
1226766    2
Name: Member cat, Length: 1226767, dtype: object>

In [13]:
#fix the hot encoding

print(ohe)

<class 'sklearn.preprocessing._encoders.OneHotEncoder'>

In [14]:
new_station = pd.DataFrame(bike_station, columns=['Member cat'])

new_station['Member cat'] = new_station['Member cat'].astype('category')

new_station['Member cat new'] = new_station['Member cat'].cat.codes

new_station

        Member cat  Member cat new
0                2               1
1                1               0
2                2               1
3                2               1
4                1               0
...            ...             ...
1226762          2               1
1226763          2               1
1226764          2               1
1226765          2               1
1226766          2               1

[1226767 rows x 2 columns]

In [15]:
bike_station['Start date'].dt.day_name()

0          Saturday
1          Saturday
2          Saturday
3          Saturday
4          Saturday
             ...
1226762    Saturday
1226763    Saturday
1226764    Saturday
1226765    Saturday
1226766    Saturday
Name: Start date, Length: 1226767, dtype: object

In [16]:
bike_station['End date'].dt.day_name()

0          Saturday
1          Saturday
2          Saturday
3          Saturday
4          Saturday
             ...
1226762    Saturday
1226763    Saturday
1226764    Saturday
1226765      Sunday
1226766      Sunday
Name: End date, Length: 1226767, dtype: object

In [17]:
final_bike_frame = (minute_frame, bike_station)

In [18]:
x_data = final_bike_frame[["Duration", "Start date", "End date"]]
y_data = new_station["Member cat new"]

#need to change member type. C=1,  M=2. Unknown are also 1.

TypeError: tuple indices must be integers or slices, not list

In [20]:
test_frame = [final_bike_frame, new_station]
print(test_frame)

[(0          59.133333
1           5.766667
2           9.366667
3           7.233333
4           3.883333
             ...
1226762     5.000000
1226763     6.450000
1226764     4.350000
1226765    34.333333
1226766     7.800000
Name: Duration, Length: 1226767, dtype: float64,          Duration          Start date            End date  \
0            3548 2011-01-01 00:01:29 2011-01-01 01:00:37
1             346 2011-01-01 00:02:46 2011-01-01 00:08:32
2             562 2011-01-01 00:06:13 2011-01-01 00:15:36
3             434 2011-01-01 00:09:21 2011-01-01 00:16:36
4             233 2011-01-01 00:28:26 2011-01-01 00:32:19
...           ...                 ...                 ...
1226762       300 2011-12-31 23:41:19 2011-12-31 23:46:20
1226763       387 2011-12-31 23:46:43 2011-12-31 23:53:10
1226764       261 2011-12-31 23:47:27 2011-12-31 23:51:49
1226765      2060 2011-12-31 23:55:12 2012-01-01 00:29:33
1226766       468 2011-12-31 23:55:56 2012-01-01 00:03:45

         Start station number                      Start station  \
0                       31620                      5th & F St NW
1                       31105               14th & Harvard St NW
2                       31400     Georgia & New Hampshire Ave NW
3                       31111                     10th & U St NW
4                       31104        Adams Mill & Columbia Rd NW
...                       ...                                ...
1226762                 31201                     15th & P St NW
1226763                 31223  Convention Center / 7th & M St NW
1226764                 31107            Lamont & Mt Pleasant NW
1226765                 31205                     21st & I St NW
1226766                 31221                     18th & M St NW

         End station number                  End station Bike number  \
0                     31620                5th & F St NW      W00247
1                     31101               14th & V St NW      W00675
2                     31104  Adams Mill & Columbia Rd NW      W00357
3                     31503        Florida Ave & R St NW      W00970
4                     31106     Calvert & Biltmore St NW      W00346
...                     ...                          ...         ...
1226762               31214        17th & Corcoran St NW      W01459
1226763               31201               15th & P St NW      W01262
1226764               31602      Park Rd & Holmead Pl NW      W00998
1226765               31222    New York Ave & 15th St NW      W00042
1226766               31111               10th & U St NW      W01319

        Member type Member cat
0            Member          2
1            Casual          1
2            Member          2
3            Member          2
4            Casual          1
...             ...        ...
1226762      Member          2
1226763      Member          2
1226764      Member          2
1226765      Member          2
1226766      Member          2

[1226767 rows x 10 columns]),         Member cat  Member cat new
0                2               1
1                1               0
2                2               1
3                2               1
4                1               0
...            ...             ...
1226762          2               1
1226763          2               1
1226764          2               1
1226765          2               1
1226766          2               1

[1226767 rows x 2 columns]]

In [ ]:
#pd.to_timedelta(bike_station['Duration'].replace(['mins','hr','hrs'],['min','hour','hour'],regex=True))

#not working

In [ ]:
#time_strs = bike_station.index.astype(str).str.zfill(1)

#pd.to_datetime(time_strs, format="%H%M")

#not working

In [ ]:
#bike_station['Duration'] = bike_station['Duration'].str.replace(" hr.", '*60').str.replace(' min','*1').str.replace(' sec','*0.01').str.replace(' ','+').apply(eval)
#not working

In [ ]:
#bike_station['Duration'] = bike_station['Duration'] / pd.Timedelta(minutes=1)
#not working

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data ,test_size = 0.3, shuffle=False)
x_train, x_test, y_train, y_test

(        Duration          Start date            End date
 0           3548 2011-01-01 00:01:29 2011-01-01 01:00:37
 1            346 2011-01-01 00:02:46 2011-01-01 00:08:32
 2            562 2011-01-01 00:06:13 2011-01-01 00:15:36
 3            434 2011-01-01 00:09:21 2011-01-01 00:16:36
 4            233 2011-01-01 00:28:26 2011-01-01 00:32:19
 ...          ...                 ...                 ...
 858731       785 2011-09-17 15:06:27 2011-09-17 15:19:32
 858732       495 2011-09-17 15:06:29 2011-09-17 15:14:45
 858733       701 2011-09-17 15:06:33 2011-09-17 15:18:15
 858734       180 2011-09-17 15:06:47 2011-09-17 15:09:47
 858735      1079 2011-09-17 15:06:49 2011-09-17 15:24:48

 [858736 rows x 3 columns],
          Duration          Start date            End date
 858736       1204 2011-09-17 15:06:51 2011-09-17 15:26:55
 858737       1202 2011-09-17 15:07:00 2011-09-17 15:27:03
 858738       2580 2011-09-17 15:07:07 2011-09-17 15:50:07
 858739       1049 2011-09-17 15:07:09 2011-09-17 15:24:39
 858740        841 2011-09-17 15:07:26 2011-09-17 15:21:27
 ...           ...                 ...                 ...
 1226762       300 2011-12-31 23:41:19 2011-12-31 23:46:20
 1226763       387 2011-12-31 23:46:43 2011-12-31 23:53:10
 1226764       261 2011-12-31 23:47:27 2011-12-31 23:51:49
 1226765      2060 2011-12-31 23:55:12 2012-01-01 00:29:33
 1226766       468 2011-12-31 23:55:56 2012-01-01 00:03:45

 [368031 rows x 3 columns],
 0         1
 1         0
 2         1
 3         1
 4         0
          ..
 858731    1
 858732    1
 858733    1
 858734    1
 858735    0
 Name: Member cat new, Length: 858736, dtype: int8,
 858736     1
 858737     1
 858738     0
 858739     0
 858740     1
           ..
 1226762    1
 1226763    1
 1226764    1
 1226765    1
 1226766    1
 Name: Member cat new, Length: 368031, dtype: int8)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data,test_size=0.2, random_state=42)

In [ ]:
# data normalisation with sklearn
from sklearn.preprocessing import MinMaxScaler

# fit scaler on training data
norm = MinMaxScaler().fit(X_train)

# transform training data
X_train_norm = norm.transform(X_train)

# transform testing data
X_test_norm = norm.transform(X_test)

TypeError: The DType <class 'numpy.dtype[int64]'> could not be promoted by <class 'numpy.dtype[datetime64]'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtype[int64]'>, <class 'numpy.dtype[datetime64]'>, <class 'numpy.dtype[datetime64]'>)

In [ ]:
bike_station.isnull().any()

#I need to drop the Unknown ones...done.

Duration                False
Start date              False
End date                False
Start station number    False
Start station           False
End station number      False
End station             False
Bike number             False
Member type             False
Member cat              False
dtype: bool

In [ ]:
reg = LR().fit(x_data, y_data)

In [ ]:
reg.score(x_data, y_data)

TypeError: The DType <class 'numpy.dtype[datetime64]'> could not be promoted by <class 'numpy.dtype[float64]'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtype[datetime64]'>, <class 'numpy.dtype[float64]'>)

In [ ]:
y_predicted = reg.predict(x_test)

In [ ]:
reg.coef_

array([-5.25730215e-05,  4.36012701e-05,  5.50321730e-05])

In [ ]:
reg.intercept_

-2.2253248156715673

In [ ]:
reg.predict #(np.array([[3, 5]])) ex.

In [ ]:
y_predicted = reg.predict(x_test)
y_predicted

array([0.80398807, 0.80409321, 0.71787972, ..., 0.85638507, 0.7451669 ,
       0.8234522 ])